<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 应用类型，Server：做WCF服务器，Client：做WCF客户端-->
    <add key="AppType" value="Server" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MessageBehavior" name="Tongfang.AuthMessage.Service.MessageService">
        <endpoint address="SmsService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_NoSecurity" contract="Tongfang.AuthMessage.Service.ISmsService" />
        <endpoint address="EmailService" binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_NoSecurity" contract="Tongfang.AuthMessage.Service.IEmailService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:49236/TongfangSimulator" />
            <add baseAddress="http://localhost:49234/TongfangSimulator" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="PublishBehavior" name="Tongfang.AuthMessage.Service.PublishService">
        <endpoint address="PublishService" binding="netNamedPipeBinding"
          bindingConfiguration="NetNamedPipeBinding_NoSecurity" contract="Tongfang.AuthMessage.Service.IPublishService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/TongfangInnerPublish" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_NoSecurity" receiveTimeout="00:10:00"
          maxBufferPoolSize="83886080" maxBufferSize="10485760" maxReceivedMessageSize="10485760"
          portSharingEnabled="true">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_NoSecurity_Reliable" receiveTimeout="01:00:00" portSharingEnabled="true">
          <reliableSession inactivityTimeout="01:00:00" enabled="true" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_NoSecurity">
          <security mode="None" />
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MessageBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <dataContractSerializer maxItemsInObjectGraph="104857600"/>
        </behavior>
        <behavior name="PublishBehavior">
          <serviceMetadata httpGetEnabled="False" />
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <dataContractSerializer maxItemsInObjectGraph="104857600"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint name="PublishServiceInnerClient"
                address="net.pipe://localhost/TongfangInnerPublish/PublishService"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_NoSecurity"
                contract="Tongfang.AuthMessage.Service.IPublishService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>