<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="MessageBehavior" name="Tongfang.AuthMessage.Service.MessageService">
        <endpoint address="net.msmq://localhost/private/Simulator_MSMQ_Sms" binding="netMsmqBinding"
          bindingConfiguration="NetMQBindingMessage" contract="Tongfang.AuthMessage.Service.ISmsService" />
        <endpoint address="net.msmq://localhost/private/Simulator_MSMQ_Email" binding="netMsmqBinding"
          bindingConfiguration="NetMQBindingMessage" contract="Tongfang.AuthMessage.Service.IEmailService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:45678/SimulatorMessage" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="NetMQBindingMessage" deadLetterQueue="System" maxReceivedMessageSize="102400"
          maxRetryCycles="2" receiveErrorHandling="Drop" receiveRetryCount="0"
          retryCycleDelay="00:10:00">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MessageBehavior">
          <serviceMetadata httpGetEnabled="True" />
          <serviceTimeouts transactionTimeout="00:10:00"/>
          <dataContractSerializer maxItemsInObjectGraph="104857600"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>